
 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Employee Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-bidrldyPmulvZYLEQ8zYdsQ7gTCzYz4mhbtz3LHPRWxBJuzaXe الجدWLhbtz3LHPRWxBJuzaXe" crossorigin="anonymous">
  <style>
   
  </style>
</head>
<body>
  <div class="container">

    <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
<h3 class="center">Enter your details</h3>
      
      <div class="row mb-3">
        <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
        <div class="col-sm-10">
          <input type="text" formControlName="firstName" id="firstName" class="form-control">
          <div *ngIf="addEmployeeForm.controls['firstName']?.invalid && (addEmployeeForm.controls['firstName']?.touched || addEmployeeForm.controls['firstName']?.dirty)">
            <span *ngIf="addEmployeeForm.controls['firstName']?.errors?.['required']">First Name is required</span>
            <span *ngIf="addEmployeeForm.controls['firstName']?.errors?.['pattern']">First Name must contain only letters</span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
        <div class="col-sm-10">
          <input type="text" formControlName="lastName" id="lastName" class="form-control">
          <div *ngIf="addEmployeeForm.controls['lastName']?.invalid && (addEmployeeForm.controls['lastName']?.touched || addEmployeeForm.controls['lastName']?.dirty)">
            <span *ngIf="addEmployeeForm.controls['lastName']?.errors?.['required']">Last Name is required</span>
            <span *ngIf="addEmployeeForm.controls['lastName']?.errors?.['pattern']">Last Name must contain only letters</span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="tz" class="col-sm-2 col-form-label">Identity Number:</label>
        <div class="col-sm-10">
          <input type="text" formControlName="tz" id="tz" class="form-control">
          <div *ngIf="addEmployeeForm.controls['tz']?.invalid && (addEmployeeForm.controls['tz']?.touched || addEmployeeForm.controls['tz']?.dirty)">
            <span *ngIf="addEmployeeForm.controls['tz']?.errors?.['required']">TZ is required</span>
            <span *ngIf="addEmployeeForm.controls['tz']?.errors?.['pattern']">TZ must contain exactly 9 digits</span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="startWorkDate" class="col-sm-2 col-form-label">Start Work Date:</label>
        <div class="col-sm-10">
          <input type="date" formControlName="startWorkDate" id="startWorkDate" class="form-control">
          <div *ngIf="addEmployeeForm.controls['startWorkDate']?.invalid && (addEmployeeForm.controls['startWorkDate']?.touched || addEmployeeForm.controls['startWorkDate']?.dirty)">
            <p>This field is required!</p>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="birthDate" class="col-sm-2 col-form-label">Birth Date:</label>
        <div class="col-sm-10">
          <input type="date" formControlName="birthDate" id="birthDate" class="form-control">
          <div *ngIf="addEmployeeForm.controls['birthDate']?.invalid && (addEmployeeForm.controls['birthDate']?.touched || addEmployeeForm.controls['birthDate']?.dirty)">
            <span *ngIf="addEmployeeForm.controls['birthDate']?.errors?.['required']">Date of Birth is required</span>
            <span *ngIf="addEmployeeForm.controls['birthDate']?.errors?.['dateOfBirthInvalid']">Employee must be at least 18 years old</span>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="gender" class="col-sm-2 col-form-label">Gender:</label>
        <div class="col-sm-10">
          <select formControlName="gender" class="form-select">
            <option [ngValue]="0">Male</option>
            <option [ngValue]="1">Female</option>
          </select>
          <div *ngIf="addEmployeeForm.controls['gender']?.invalid && (addEmployeeForm.controls['gender']?.touched || addEmployeeForm.controls['gender']?.dirty)">
            <p>This field is required!</p>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <button mat-raised-button type="button" (click)="addRole()">Add Role</button>
        </div>
      </div>
      <div *ngIf="showRoleFields" class="mb-3">
        <div class="row" *ngFor="let roleForm of roleGroups " [formGroup]="roleForm ">
          <div class="col">
            <br>
            <label for="roleId">Position</label>
            <select id="roleId" name="roleId" formControlName="roleId" class="form-select" required>
              <option *ngFor="let role of rolesList" [value]="role.id">{{ role.name }}</option>
            </select>
            <div *ngIf="roleForm.controls['roleId']?.invalid">
              <span *ngIf="roleForm.controls['roleId']?.errors?.['required']">Position is required</span>
              <span *ngIf="roleForm.controls['roleId']?.errors?.['roleAlreadyExists']">This position already exists</span>
            </div>
          </div>
          <br>
          <div class="col">
            <label for="isManagerialRole">isManagerialRole</label>
            <input type="checkbox" formControlName="isManagerialRole" id="isManagerialRole">
          </div>
          <br>
          <div class="col">
            <label for="startDateRole">Choose a date</label>
            <input matInput type="date" id="startDateRole" name="startDateRole" formControlName="startDateRole"
              placeholder="Entry Date" required class="form-control">
            <div *ngIf="roleForm.controls['startDateRole']?.invalid ">
              <span *ngIf="roleForm.controls['startDateRole']?.errors?.['required']">Entry Date is required</span>
              <span *ngIf="roleForm.controls['startDateRole']?.errors?.['startDateRoleInvalid']">Entry date must be after start date</span>
            </div>
          </div>
        </div>
      </div>

      <br>
      <!-- חייבתי עובד חדש בתפקיד -->
      <button type="submit" class="center" [disabled]="isInvalid()">Submit</button>
    </form>
  </div>
</body>
</html>