:host {
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/images/not-found.jpg');
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
  }